@import "~src/styles/variables";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 $gutterSize;
}

section {
  flex-grow: 1;
  overflow: auto;
  background-color: $secondary;
  padding: 25px 50px;

  @media(max-width: 768px) {
    padding: 25px 10px;
  }
}
